/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: contents;
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
} 
.desactiv {
	display: none;
}

.activ {
	display: flex;
}
.editor{
	justify-content: center;
	align-items: center;
	margin: 0;
	color: white;
	background-color: black;
	height: 60px;
	width: 100%;
	cursor: pointer;
}
.modifier{
	align-items: center;
	margin: 10px 0 0 60px;
	background-color:white;
	border: none;
	cursor: pointer;
	}
.modifier-portfolio{
	justify-content: center;
	align-items: baseline;
	margin: 0;
	background-color: white;
	border: none;
	cursor: pointer;
}
.modal-container{
	display: none;
	position: fixed;
	width: 100%;
	height:100%;
	
}
.modal-container.active{
	display: flex;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333d3;
}
.modal{
	max-width: 700px;
	min-width: 300px;
	min-height: 300px;
	background: white;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 100px 30px 100px;
	overflow: auto;
}
.close-modal{
	padding: 10px 10px;
	border: none;
	font-size: 24px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	color: black;
	background-color: white;
}
.retour{
	align-items: center;
	padding: 10px 10px;
	border: none;
	font-size: 24px;
	position: absolute;
	top: 15px;
	left: 15px;
	cursor: pointer;
	color: black;
	background-color: white;
}
.poubelle{
	
	padding: 3px 3px;
	border-radius: 2px;
	font-size: 8px;
	position: relative;
	top: 20%;
	left: 70%;
	cursor: pointer;
	color: white;
	background-color: black;
}
.gallery-modale {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	border-bottom:solid #b3b3b3 1px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.gallery-modale img {
	width: 100%
}
.btn-vert{
	font-size: 14px;
	font-family: 'Syne';
	font-weight: bold;
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	padding: 10px 0 10px 0 ;
	width: 236px;
	cursor: pointer;
	margin: 10px;
}
.btn-gris {
	font-size: 14px;
	font-family: 'Syne';
	font-weight: bold;
	color: white;
	background-color: #a7a7a7;
	border: none;
	border-radius: 60px;
	padding: 10px 0 10px 0;
	width: 60%;
	cursor: pointer;
	text-align: center;
	margin: 10px;
} 
.taille-icone{
	font-size: 76px;
}
.font-bleu{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(232, 241, 246, 1); 
	color: #a7a7a7;
	padding: 10px;
}
.modal-photo{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal2{
	display: none;
}
.modal2 h4{
	padding: 10px 0 10px 0;
}
.ajout-photo-forme{
	border-bottom:solid #a7a7a7;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.desactive {
	display: none;
}
.active {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rectangle{
	width: 420px;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
	outline: none;
	
}
input[type=file]{
	display: none;
}
.erreur{
	display: flex;
	flex-direction:column ;
	align-items: center;
	color: red;
	font-size: 26px;
	padding: 10px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
h3{
	font-family: 'Work Sans';
	font-size: 16px;
	padding:0 10px 0 10px;
}
h4{
	font-family: 'Work Sans';
		font-size: 14px;
		padding: 0 10px 0 10px;
	}
h5{
	font-family: 'Work Sans';
	font-size: 26px;
	display: flex;
	justify-content: center;
	padding: 30px;
	margin: 10px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
  nav li  ,a {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin: 0 10px 1em 0;
}
#projet{
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 0;
}
.filtre{
	text-align: center;
	margin-bottom: 2em;
}
.bull{
	font-family: 'Syne';
	font-weight: 700;
	color: black;
	background-color: white;
	margin: 5px;
	padding: 4px 10px;
	text-align: center;
	border-radius: 60px;
}
.dots{
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	margin: 5px;
	padding: 4px 10px;
	text-align: center;
	border-radius: 60px;
}
.dot_selection{
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#login{
	width: 35%;
		margin: auto auto 20em auto;
}
#message-erreur {
	margin: 5em 0 0 0;
	text-align: center;
}
#contact > * ,#login > *{
	text-align: center;

}
#contact h2,#login h2{
	margin-bottom: 20px;
}
#contact form,#login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input ,#login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label ,#login label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login a{
	text-align: center;
}
#login button, input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

